<!DOCTYPE html>
<!--<html lang="{{ request.locale.iso_code }}" dir="{% if request.locale.iso_code == 'he' or request.locale.iso_code == 'iw' %}rtl{% else %}ltr{% endif %}">-->
<html lang="{{ request.locale.iso_code }}" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} - {{ shop.name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    {{ content_for_header }}
    {{ 'tziona.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'tziona.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
</head>
<body class="template-{{ template.name }}">

    {% sections 'tz-header-group' %}

    <main role="main">
        {{ content_for_layout }}
    </main>

    {% sections 'tz-footer-group' %}
    {% section 'tz-drawer' %}

</body>
</html>