{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'tz-announcement-bar.css' | asset_url | stylesheet_tag }}
<script src="{{ 'tz-announcement-bar.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
  if section.settings.enable_country_selector or section.settings.enable_language_selector
    assign language_country_selector = true
  endif
  if section.blocks.size > 0
    assign announcement_bar = true
  endif

  assign column_count = 0
  if section.settings.show_social and social_icons
    assign column_count = column_count | plus: 1
  endif
  if announcement_bar
    assign column_count = column_count | plus: 1
  endif
  if language_country_selector
    assign column_count = column_count | plus: 1
  endif
-%}

{% if language_country_selector %}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% if social_icons %}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{% endif %}

<tz-announcement-bar
  class="tz-utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator and section.blocks.size > 0 %} tz-utility-bar--bottom-border{% elsif section.settings.show_line_separator and section.settings.show_social and social_icons%} tz-utility-bar--bottom-border-social-only{% endif %}{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} tz-header-localization{% endif %}"
>
  {%- capture grid_classes -%}
    tz-utility-bar__grid--{{ column_count }}-col
    {% if section.settings.show_social and social_icons %} has-social{% endif %}
    {% if announcement_bar %} has-announcements{% endif %}
    {% if language_country_selector %} has-localization{% endif %}
  {%- endcapture -%}
  <div class="tz-container tz-utility-bar__grid {{ grid_classes | strip }}">
    {%- if section.settings.show_social and social_icons -%}
      <div class="tz-utility-bar__social">
        {%- render 'social-icons' -%}
      </div>
    {%- endif -%}
    
    {%- if section.blocks.size == 1 -%}
      <div
        class="tz-announcement-bar{% if section.settings.show_social %} tz-announcement-bar--one-announcement{% endif %}"
        role="region"
        aria-label="{{ 'sections.header.announcement' | t }}"
        {{ section.blocks.first.shopify_attributes }}
      >
        {%- if section.blocks.first.settings.text != blank -%}
          {%- if section.blocks.first.settings.link != blank -%}
            <a
              href="{{ section.blocks.first.settings.link }}"
              class="tz-announcement-bar__link link link--text focus-inset animate-arrow"
            >
          {%- endif -%}
          <p class="tz-announcement-bar__message h5">
            <span>{{ section.blocks.first.settings.text | escape }}</span>
            {%- if section.blocks.first.settings.link != blank -%}
              {{- 'icon-arrow.svg' | inline_asset_content -}}
            {%- endif -%}
          </p>
          {%- if section.blocks.first.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- elsif section.blocks.size > 1 -%}
      <slideshow-component
        class="tz-announcement-bar"
        role="region"
        aria-roledescription="{{ 'sections.announcements.carousel' | t }}"
        aria-label="{{ 'sections.announcements.announcement_bar' | t }}"
      >
        <div class="tz-announcement-bar-slider slider-buttons">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'sections.announcements.previous_announcement' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
          <div
            class="grid grid--1-col slider slider--everywhere"
            id="Slider-{{ section.id }}"
            aria-live="polite"
            aria-atomic="true"
            data-autoplay="{{ section.settings.auto_rotate }}"
            data-speed="{{ section.settings.change_slides_speed }}"
          >
            {%- for block in section.blocks -%}
              <div
                class="slideshow__slide slider__slide grid__item grid--1-col"
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                {{ block.shopify_attributes }}
                role="group"
                aria-roledescription="{{ 'sections.announcements.announcement' | t }}"
                aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                tabindex="-1"
              >
                <div
                  class="tz-announcement-bar__announcement"
                  role="region"
                  aria-label="{{ 'sections.header.announcement' | t }}"
                >
                  {%- if block.settings.text != blank -%}
                    {%- if block.settings.link != blank -%}
                      <a
                        href="{{ block.settings.link }}"
                        class="tz-announcement-bar__link link link--text focus-inset animate-arrow"
                      >
                    {%- endif -%}
                    <p class="tz-announcement-bar__message h5">
                      <span>{{ block.settings.text | escape }}</span>
                      {%- if block.settings.link != blank -%}
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      {%- endif -%}
                    </p>
                    {%- if block.settings.link != blank -%}
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'sections.announcements.next_announcement' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
      </slideshow-component>
      {%- if request.design_mode -%}
        <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
        <style>
          /* theme editor power preview fix */
          .tz-announcement-bar-slider .slider__slide[aria-hidden='true'] {
            visibility: hidden;
          }
        </style>
      {%- endif -%}
    {%- endif -%}
    
    <div class="tz-localization-wrapper">
      {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
        <div class="tz-dropdown" data-tz-dropdown="country">
          <button type="button" class="tz-dropdown__toggle" aria-expanded="false">
            <span>{{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})</span>
            <svg viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-caret">
              <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <div class="tz-dropdown__menu">
            <ul class="tz-dropdown__list">
              {%- for country in localization.available_countries -%}
                <li class="tz-dropdown__item">
                  <a href="#" data-value="{{ country.iso_code }}" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}>
                    {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          {%- form 'localization', id: 'AnnouncementCountryForm', class: 'hidden' -%}
            <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
          {%- endform -%}
        </div>
      {% endif %}

      {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
        <div class="tz-dropdown" data-tz-dropdown="language">
          <button type="button" class="tz-dropdown__toggle" aria-expanded="false">
            <span>{{ localization.language.endonym_name | capitalize }}</span>
            <svg viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-caret">
              <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <div class="tz-dropdown__menu">
            <ul class="tz-dropdown__list">
              {%- for language in localization.available_languages -%}
                <li class="tz-dropdown__item">
                  <a href="#" data-value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}>
                    {{ language.endonym_name | capitalize }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          {%- form 'localization', id: 'AnnouncementLanguageForm', class: 'hidden' -%}
            <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</tz-announcement-bar>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    },    
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },  
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.heading_utilities.content"
    },
    {
      "type": "paragraph",
         "content": "t:sections.announcement-bar.settings.paragraph.content"
    },             
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.announcement-bar.settings.show_social.label",
      "info": "t:sections.announcement-bar.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_country_selector.label",
      "info": "t:sections.announcement-bar.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_language_selector.label",
      "info": "t:sections.announcement-bar.settings.enable_language_selector.info"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
