{{ 'tz-main-cart.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .tz-cart-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .tz-cart-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'tz-main-cart.js' | asset_url }}" defer="defer"></script>

<cart-items class="tz-cart-items{% if cart == empty %} tz-cart-is-empty{% else %} tz-cart-section-{{ section.id }}-padding{% endif %}">
  <div class="tz-cart-container">
    <div class="tz-cart-header">
      <h1 class="tz-cart-title">{{ 'sections.cart.title' | t }} <span class="tz-cart-item-count">({{ cart.item_count }} {{ 'sections.cart.headings.product' | t }})</span></h1>
      <a href="{{ routes.all_products_collection_url }}" class="tz-cart-continue-shopping">
        {{- 'general.continue_shopping' | t -}}
      </a>
    </div>

    <div class="tz-cart-empty">
      <h1 class="tz-cart-empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="tz-cart-empty-button">
        {{ 'general.continue_shopping' | t }}
      </a>

      {%- if shop.customer_accounts_enabled and customer == null -%}
        <h2 class="tz-cart-login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="tz-cart-login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>

    <form action="{{ routes.cart_url }}" class="tz-cart-form" method="post" id="cart">
      <div class="tz-cart-items-section" id="main-cart-items" data-id="{{ section.id }}">
        <div class="tz-cart-js-contents">
          {%- if cart != empty -%}
            <div class="tz-cart-items-list">
              {%- for item in cart.items -%}
                <div
                  class="tz-cart-item{% if item.parent_relationship.parent != null %} tz-cart-item-nested{% endif %}"
                  id="CartItem-{{ item.index | plus: 1 }}"
                  {% if item.parent_relationship.parent != null %}
                    aria-label="{{- 'products.product.nested_label' | t: title: item.product.title, parent_title: item.parent_relationship.parent.title | escape -}}"
                  {% endif %}
                >
                  {%- comment -%} Product Image {%- endcomment -%}
                  <div class="tz-cart-item-media">
                    {% if item.image %}
                      <a href="{{ item.url }}" class="tz-cart-item-link" aria-hidden="true" tabindex="-1"> </a>
                      <div class="tz-cart-item-image-container">
                        <img
                          src="{{ item.image | image_url: width: 300 }}"
                          class="tz-cart-item-image"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="150"
                          height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                        >
                      </div>
                    {% endif %}
                  </div>

                  {%- comment -%} Product Details and Actions {%- endcomment -%}
                  <div class="tz-cart-item-content">
                    {%- comment -%} Product Info (Name, Variants, Properties) {%- endcomment -%}
                    <div class="tz-cart-item-info">
                      {%- if settings.show_vendor -%}
                        <p class="tz-cart-item-vendor">{{ item.product.vendor }}</p>
                      {%- endif -%}

                      <a href="{{ item.url }}" class="tz-cart-item-title tz-cart-item-title-link">{{ item.product.title | escape }}</a>

                      {%- if item.product.has_only_default_variant == false
                        or item.properties.size != 0
                        or item.selling_plan_allocation != null
                      -%}
                        <div class="tz-cart-item-attributes">
                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              <p class="tz-cart-item-variant">
                                {{ option.name }}: {{ option.value }}
                              </p>
                            {%- endfor -%}
                          {%- endif -%}

                          {%- for property in item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                              <p class="tz-cart-item-property">
                                {{ property.first }}: 
                                {%- if property.last contains '/uploads/' -%}
                                  <a href="{{ property.last }}" class="link" target="_blank">
                                    {{ property.last | split: '/' | last }}
                                  </a>
                                {%- else -%}
                                  {{ property.last }}
                                {%- endif -%}
                              </p>
                            {%- endif -%}
                          {%- endfor -%}

                          {%- if item.selling_plan_allocation != null -%}
                            <p class="tz-cart-item-property">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}
                        </div>
                      {%- endif -%}

                      {%- comment -%} Unit Price (if different from line price) {%- endcomment -%}
                      {%- if item.original_price != item.final_price -%}
                        <div class="tz-cart-item-unit-price">
                          <span class="tz-cart-visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <s class="tz-cart-item-old-price">
                            {{- item.original_price | money -}}
                          </s>
                          <span class="tz-cart-visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <strong class="tz-cart-item-final-price">
                            {{ item.final_price | money }}
                          </strong>
                        </div>
                      {%- endif -%}

                      {%- comment -%} Item-level Discounts {%- endcomment -%}
                      <ul class="tz-cart-item-discounts" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.line_level_discount_allocations -%}
                          <li class="tz-cart-item-discount">
                            {{- 'icon-discount.svg' | inline_asset_content -}}
                            {{ discount.discount_application.title | escape }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>

                    {%- comment -%} Actions: Price, Quantity, Remove {%- endcomment -%}
                    <div class="tz-cart-item-actions">
                      <div class="tz-cart-loading-spinner tz-cart-hidden"></div>
                      
                      {%- comment -%} Line Price {%- endcomment -%}
                      <div class="tz-cart-item-price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="tz-cart-item-discounted-prices">
                            <dt class="tz-cart-visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="tz-cart-item-price-old">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="tz-cart-visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="tz-cart-item-price">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="tz-cart-item-price">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          {% render 'unit-price', price: item.unit_price, measurement: item.unit_price_measurement %}
                        {%- endif -%}
                      </div>

                      {%- liquid
                        assign has_qty_rules = false
                        if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                          assign has_qty_rules = true
                        endif

                        assign has_vol_pricing = false
                        if item.variant.quantity_price_breaks.size > 0
                          assign has_vol_pricing = true
                        endif
                      -%}

                      {%- comment -%} Quantity Controls {%- endcomment -%}
                      <div class="tz-cart-quantity-wrapper">
                        <label class="tz-cart-visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                          {{ 'products.product.quantity.label' | t }}
                        </label>
                        <div class="tz-cart-quantity-controls">
                          {%- if has_qty_rules or has_vol_pricing -%}
                            <button
                              type="button"
                              aria-expanded="false"
                              class="tz-cart-quantity-info-button tz-cart-quantity-info-button-icon tz-cart-hidden-mobile"
                            >
                              {{- 'icon-info.svg' | inline_asset_content -}}
                            </button>
                          {%- endif -%}
                          <div class="tz-cart-quantity-input-wrapper">
                            {% assign can_update_quantity = item.instructions.can_update_quantity | default: true %}
                            <button
                              class="tz-cart-quantity-button tz-cart-quantity-button-minus"
                              name="minus"
                              type="button"
                              {% if can_update_quantity == false %}
                                disabled
                              {% endif %}
                            >
                              <span class="tz-cart-visually-hidden">
                                {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                              </span>
                              <span class="tz-cart-svg-wrapper">
                                {{- 'icon-minus.svg' | inline_asset_content -}}
                              </span>
                            </button>
                            <input
                              class="tz-cart-quantity-input"
                              data-quantity-variant-id="{{ item.variant.id }}"
                              type="number"
                              name="updates[]"
                              value="{{ item.quantity }}"
                              {% # theme-check-disable %}
                              data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                              min="0"
                              data-min="{{ item.variant.quantity_rule.min }}"
                              {% if item.variant.quantity_rule.max != null %}
                                max="{{ item.variant.quantity_rule.max }}"
                              {% endif %}
                              step="{{ item.variant.quantity_rule.increment }}"
                              {% # theme-check-enable %}
                              aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                              id="Quantity-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                              {% if can_update_quantity == false %}
                                disabled
                              {% endif %}
                            >
                            <button
                              class="tz-cart-quantity-button tz-cart-quantity-button-plus"
                              name="plus"
                              type="button"
                              {% if can_update_quantity == false %}
                                disabled
                              {% endif %}
                            >
                              <span class="tz-cart-visually-hidden">
                                {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                              </span>
                              <span class="tz-cart-svg-wrapper">
                                {{- 'icon-plus.svg' | inline_asset_content -}}
                              </span>
                            </button>
                          </div>
                        </div>
                      </div>

                      {%- comment -%} Remove Button {%- endcomment -%}
                      <cart-remove-button
                        id="Remove-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                        {% assign can_remove = item.instructions.can_remove | default: true %}
                        {% if can_remove == false %}
                          class="tz-cart-hidden"
                        {% endif %}
                      >
                        <a
                          href="{{ item.url_to_remove }}"
                          class="tz-cart-remove-button"
                          aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                        >
                          {{ 'sections.cart.remove' | t }}
                        </a>
                      </cart-remove-button>

                      {%- if has_qty_rules or has_vol_pricing -%}
                        <button
                          type="button"
                          class="tz-cart-quantity-info-button tz-cart-quantity-info-button-label tz-cart-hidden-desktop"
                          aria-expanded="false"
                        >
                          {{- 'icon-info.svg' | inline_asset_content -}}
                          <span>
                            {%- if has_vol_pricing -%}
                              {{ 'products.product.volume_pricing.note' | t }}
                            {%- elsif has_qty_rules -%}
                              {{ 'products.product.quantity.note' | t }}
                            {%- endif -%}
                          </span>
                        </button>
                      {%- endif -%}
                      {%- if has_vol_pricing or has_qty_rules -%}
                        <div
                          class="tz-cart-quantity-info-popup"
                          tabindex="-1"
                          hidden
                        >
                          {%- if has_qty_rules == false -%}
                            <span class="tz-cart-volume-pricing-label">
                              {{- 'products.product.volume_pricing.title' | t -}}
                            </span>
                          {%- endif -%}
                          <div class="tz-cart-quantity-rules">
                            {%- if item.variant.quantity_rule.increment > 1 -%}
                              <span class="tz-cart-quantity-rule-divider">
                                {{-
                                  'products.product.quantity.multiples_of'
                                  | t: quantity: item.variant.quantity_rule.increment
                                -}}
                              </span>
                            {%- endif -%}
                            {%- if item.variant.quantity_rule.min > 1 -%}
                              <span class="tz-cart-quantity-rule-divider">
                                {{-
                                  'products.product.quantity.min_of'
                                  | t: quantity: item.variant.quantity_rule.min
                                -}}
                              </span>
                            {%- endif -%}
                            {%- if item.variant.quantity_rule.max != null -%}
                              <span class="tz-cart-quantity-rule-divider">
                                {{-
                                  'products.product.quantity.max_of'
                                  | t: quantity: item.variant.quantity_rule.max
                                -}}
                              </span>
                            {%- endif -%}
                          </div>
                          <button
                            class="tz-cart-quantity-info-close tz-cart-hidden-desktop"
                            type="button"
                            aria-label="{{ 'accessibility.close' | t }}"
                          >
                            <span class="tz-cart-svg-wrapper">
                              {{- 'icon-close.svg' | inline_asset_content -}}
                            </span>
                          </button>
                          {%- if item.variant.quantity_price_breaks.size > 0 -%}
                            <div class="tz-cart-volume-pricing">
                              <ul class="tz-cart-volume-pricing-list">
                                <li>
                                  <span>{{ item.variant.quantity_rule.min }}+</span>
                                  {%- assign price = item.variant.price | money_with_currency -%}
                                  <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                </li>
                                {%- for price_break in item.variant.quantity_price_breaks -%}
                                  <li>
                                    <span>
                                      {{- price_break.minimum_quantity -}}
                                      <span aria-hidden="true">+</span></span
                                    >
                                    {%- assign price = price_break.price | money_with_currency -%}
                                    <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                      <div class="tz-cart-item-error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                        <small class="tz-cart-item-error-text"></small>
                        <span class="tz-cart-svg-wrapper">
                          {{- 'icon-error.svg' | inline_asset_content -}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                {%- unless forloop.last -%}
                  <div class="tz-cart-item-divider"></div>
                {%- endunless -%}
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      <p class="tz-cart-visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="tz-cart-visually-hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
